* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;  
    flex-direction: column;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.content {
    flex: 1 0 auto;
    background-color: aquamarine;
    width: 1024px;
}

@media all and (max-width: 1024px) {
    .content {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      width: 100vw;
    }
  }

.nav-bar {
    display: flex;
}

.nav-bar > li {
    flex: 1;
    list-style-type: none;
}

ul > li {
    margin-left: 2em;
  }